@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}


/*css start here  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

/* Home page css */

.home, .cart{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.main-h1{
  font-weight: 500;
  margin: 2rem;
  font-size: 4rem;
}

/* navbar */
.theme{
  background-color: #2e64bc;
  color: white;
}
.nav-h1{
  font-size: 4rem;
  font-weight: 500;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
}


.cart-icon{
  font-size: 2rem;
}



/* ProductCard  css */
.cart-h1{
  font-weight: 500;
  margin-top: 2rem;
  font-size: 3rem;
}
.card-container{
  display: grid;
  place-items: center;
}
.card-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  
}


.card{
  width: 35rem;
  border: 2px solid white;
  box-shadow: 0 0 24px  rgba(0, 0, 0, 0.3);
  margin: 0.5rem;

}
.image-wrapper{
  background-color: #e6e4e7;
  margin: 1rem;
  height: 28rem;
  display: grid;
  place-items: center;
}
.card-img{
  width:20rem;
}

.btn-wpapper button{
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
}
.btn:hover{
  background-color: #5b8fe3;
}
.text-wrapper{
  text-align: left;
  padding: 1rem;
}
.text-wrapper h4{
  font-size: 2.5rem;
  font-weight: 500;
}
.text-wrapper p{
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.text-wrapper s{
  color: gray;
  margin-left: 0.5rem;
}






/* css for cart page */
.item-wrapper{
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}
.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  width: 80%;
}
.image-wrapper-item{
  background-color: #e6e4e7;
  margin: 1rem;
  display: grid;
  place-items: center;
  width: 25rem;

}
.item-img{
  width: 15rem;
}

.item-text-wrapper h4{
  color: red;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.item-text-wrapper p{
  font-size: 1.5rem;
  line-height: 3rem;
}
.dlt-btn{
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.3rem;
}
.dlt-btn:hover{
  
  background-color: #db4e4e;
}

.empty-cart{
  width: 45%;
  margin: 10rem;
}

/* responsive */
@media screen and (max-width: 1100px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 725px) {
  .card-wrapper{
    grid-template-columns: repeat(2,1fr);
    
  }
}
@media screen and (max-width: 470px) {
  .card-wrapper{
    grid-template-columns: repeat(1,1fr);
    
  }
  .item{
    flex-direction: column;
  }
}